     <style>
        .giftboxkabelclass {
    display: flex;
              align-items: center;
              gap: 20px;
}
       .gift_image {
    width: 30%;
}
       .gift__content {
    width: 70%;
}
       .add {
    border: 1px solid;
    width: fit-content;
    padding: 2px 49px;
    cursor: pointer;
}
.giftboxinnerblock input[type="checkbox"]:checked ~ label {
          opacity: 1;
          border: none;
          background-color: #062234;
        }
     </style>

         <div class="headingblockgiftbox"> <span>Add a gift box?</span> </div>
                 <div class="giftboxmainblock">
      <div class="giftboxinnerblock">
       
          <input type="checkbox" name="giftboxdesign" id="giftboxdesign2" value="Pink" otherid="31568276324403" class="radioBtnClass" aria-invalid="false" style="">
          <label for="giftboxdesign2" class="giftboxkabelclass ">
             <div class="gift_image">
            <img src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/2_1_85e7dc93-20fe-456b-9388-12f38799562f.png?v=1672729329"> 
                 </div>
             <div class="gift__content">
        <div class="gift-title">Make it special with Mulmul gift box</div>
          <span class="price price--large">₹ 295</span>
        <div class="add">Add</div>
        </div>
          </label>
      
       
      </div>
                 </div>

        <script>
        $(document).ready(function(){
  $("input[name='giftboxdesign']").click(function(){       
     var giftboxidother = parseInt($("input[name='giftboxdesign']:checked").attr('otherid'));
       var giftboxname = $("input[name='giftboxdesign']:checked").val();
       jQuery.post('/cart/add.js', { items: [ { quantity: 1, id: giftboxidother } ] });     
  }); 
});


        </script>