<style>
    .mai_help {
      padding: 0 6px;
    }

    .mai_help a {
      color: black;
      font-weight: bold;
    }

    .content_help {
      display: flex;
      gap: 10px;
    }
  </style>
  <div class="main_help">
    <div class="inner_help">
      <div class="head_help">We have a team of skilled stylists who are readily available to assist you. Please feel
        free to contact us and we will be more than happy to help!</div>
      <div class="content_help">
        <div class="mai_help"><a href="mailto:Orders@shopmulmul.com"><img style="
                width: 33px;
                vertical-align: middle;
                margin: 8px;
            " src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/2989993.png?v=1682341717">Email Us</a>
        </div>
        <div class="mai_help"><a href="tel:+919810220059"><img style="width: 30px;
                vertical-align: middle;
                margin: 10px;"
              src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/phone-512.webp?v=1682341781">Call
            Us</a></div>
            <div class="mai_help"><a href="https://api.whatsapp.com/send?phone=919810220059"><img style="width: 30px;
              vertical-align: middle;
              margin: 10px;" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/free-whatsapp-icon-121-thumb.png?v=1683104811">Whats App</a></div>
      </div>
      
    </div>
  </div>
