<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Fetch user's IP address
  let sessionUserIP = sessionStorage.getItem("userSaveIP");
  if (!sessionUserIP) {
    $.getJSON("https://api.ipdata.co?api-key=24eb2297a21c5fdf0083ba97c85db403fa12642b5b8d677093473af3", function(data) {
      sessionUserIP = data.ip;
      sessionStorage.setItem("userSaveIP", sessionUserIP);
      checkIPAndRedirect(sessionUserIP);
    });
  } else {
    checkIPAndRedirect(sessionUserIP);
  }

  // Fake IP addresses
  const fakeUserIPArray = [
    "152.58.90.219", "122.176.188.67", "203.76.188.141", /*... other IPs ...*/
  ];

  // Check IP and redirect if needed
  function checkIPAndRedirect(ip) {
    if (fakeUserIPArray.includes(ip)) {
      $('body').remove();
      return;
    }
    handleRedirection();
  }

  // Handle redirection based on user's country from cookies
  function handleRedirection() {
    const cookies = document.cookie.split(';').map(cookie => cookie.split('=')).reduce((acc, [key, value]) => ({ ...acc, [key.trim()]: decodeURIComponent(value) }), {});
    const countryName = cookies['user_country'];
    const redirectionModal = $("#RedirectionModal");
    if (countryName) {
      let redirectUrl = "";
      if (countryName === "AE") {
        redirectUrl = "https://mulmul.ae/";
      } else if (["US", "CA"].includes(countryName)) {
        redirectUrl = "https://mulmul.co/";
      } else if (["GB", "DK"].includes(countryName)) {
        redirectUrl = "https://mulmul.uk/";
      }

      if (redirectUrl) {
        $('#RedirectionModal div').html(`
          <a href="${redirectUrl}">
            <img src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/desk-redirection.jpg?v=1716021054" class="onlydesktopredirection">
            <img src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/mob-redirection.jpg?v=1716021054" class="onlymobileredirection">
          </a>
        `);
        hidePrice();
        redirectionModal.show();
        $('body').css('pointer-events', 'none');
      }
    }
  }

  // Hide price elements
  function hidePrice() {
    const css = `
      .ProductItem__PriceList, #crt-price, span.money.conversion-bear-money, .ProductMeta__Price, .ProductForm__AddToCart, .shopify-payment-button, .sticky {
        display: none !important;
      }
      p.AnnouncementBar__Content.Heading {
        visibility: hidden;
      }
    `;
    $('<style>').prop('type', 'text/css').html(css).appendTo('head');
  }
});
</script>

<style>
.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

#RedirectionModal {
  visibility: visible;
  pointer-events: none;
}

@media (min-width: 768px) {
  #RedirectionPopup .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

#RedirectionPopup .modal {
  display: none;
  position: fixed;
  z-index: 9;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

#RedirectionPopup .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  max-width: 100%;
  pointer-events: all;
}

#RedirectionPopup .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#RedirectionPopup .close:hover,
#RedirectionPopup .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.Label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
}

.Search__Results .Label {
  display: none;
}

@media (min-width: 769px) {
  #RedirectionPopup .onlymobileredirection {
    display: none;
  }
}

@media (max-width: 768px) {
  #RedirectionPopup .onlydesktopredirection {
    display: none;
  }
}
</style>

<div id="RedirectionPopup">
  <center id="RedirectionModal" class="modal">
    <div class="modal-content">
      <div></div>
    </div>
  </center>
</div>
