

<h1 class="heading h1" style="text-align: center;padding: 40px;">{{ section.settings.heading | escape }}</h1>

{% schema %}
  {
    "name": "Heading",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}