<style>
    .content_sec{
      width: 70%;
      margin: auto;
      font-size: 20px;
      text-align: center;
    }
    @media only screen and (max-width: 768px){
      .content_sec{
        width: 90%;
      }
    }
  </style>
  <section>
  <div class=" heading_sec">
    <h1 class="heading h1" style="text-align: center;padding: 20px; margin: 0px;">{{ section.settings.heading | escape }}</h1>
    <p class="content_sec">{{ section.settings.content }}</p>
  </div>
  </section>
  {% schema %}
    {
      "name": "Heading With Text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}