<style>
.mobile_image{
  display:none;
}
@media only screen and (max-width: 600px) {
  .desktop_image{
    display:none;
  }
}
</style>
<div class="image-with-marquee">
<img src="{{section.settings.image  | img_url: 'master'}}" class="desktop_image">
<img src="{{section.settings.split_image  | img_url: 'master'}}" class="mobile_image">
<div class="marquee-conten">
<div class="marquee-text"></div>
<div class="button-wrapper" reveal="" style="opacity: 1; visibility: visible;">
<a href="{{section.settings.button_1_text}}" class="button button--primary">{{section.settings.button_1_text}}</a>
</div>
</div>
</div>
{% schema %}
  {
    "name": "image-with-marquee",
    "settings": [
       {
          "type": "image_picker",
          "id": "image",
          "info": "2160 x 1080px .jpg recommended, 1080 x 1080px .jpg recommended if split",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "split_image",
          "info": "1080 x 1080px .jpg recommended. Won't show up on mobile.",
          "label": "Mobile image"
        },
        {
          "type": "text",
          "id": "button_1_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_1_link",
          "label": "Button  link"
        }
    ],
  "presets": [
    {
      "name": "image-with-marquee"
    }
  ]
  }
{% endschema %}