{% if product.metafields.custom.single_image_with_text.value !=blank %}
{% assign metaObject_product = shop.metaobjects.image_with_text.values %}
{% assign metaObject_product = product.metafields.custom.single_image_with_text.value %}
    <section class="section">
     <div class="custom-fabricimage desktopfabricimg">
        {{ metaObject_product.desktop_image | metafield_tag }}
        <div class="fabricimg_content">{{ metaObject_product.content | metafield_tag }}</div>
    </div>
    <div class="custom-fabricimage mobilefabricimg">
        {{ metaObject_product.mobile_image | metafield_tag }}
        <div class="fabricimg_content">{{ metaObject_product.content | metafield_tag }}</div>
    </div>
      
    </section>
    <style>
        .custom-fabricimage{
            position:relative;
        }
      .mobilefabricimg{
        display:none
    }
    .fabricimg_content{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 40%;
        background: #fcf7f0;
    text-align: center;
    padding: 18px;
    }
      @media only screen and (max-width: 768px) {
     .desktopfabricimg{
    display:none
}
.mobilefabricimg{
    display:block
}
.fabricimg_content{
    width: 80%;
}
      }
    </style>
{% endif %}
    {% schema %}
      {
        "name": "image-with-text-product",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
              }
        ],
      "presets": [
        {
          "name": "image-with-text-product",
          "settings": {}
        }
      ]
      }
      {% endschema %}