{% section 'careerheading' %}
{% section 'slideshow2' %}
{% section 'careerheadingwithtext' %}
<div class="container filtering">
   {% section 'dropdown' %}
  {% section 'career-section' %}
 
</div>


<style>
  .filter-cat {
  margin: 1em 0;
}

.filtering{
  margin:40px auto;
}
.filter-cat-results .f-cat {
  opacity: 0;
  display: none;
}
.filter-cat-results .f-cat.active {
  opacity: 1;
  display: block;
  -webkit-animation: fadeIn 0.65s ease forwards;
  animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

</style>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    var filterActive;

    function filterCategory(category) {
        if (filterActive != category) {
            // reset results list
            document.querySelectorAll('.filter-cat-results .f-cat').forEach((el) => {
                el.classList.remove('active');
            });

            // elements to be filtered
            document.querySelectorAll('.filter-cat-results .f-cat[data-cat="' + category + '"]').forEach((el) => {
                el.classList.add('active');
            });

            // reset active filter
            filterActive = category;
        }
    }

    document.querySelectorAll('.f-cat').forEach((el) => {
        el.classList.add('active');
    });

    document.querySelector('.filtering select').addEventListener('change', function() {
        if (this.value == 'cat-all') {
            document.querySelectorAll('.filter-cat-results .f-cat').forEach((el) => {
                el.classList.add('active');
            });
            filterActive = 'cat-all';
        } else {
            filterCategory(this.value);
        }
    });
});


</script>